@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 500px) {
    #height{
        height: 70vh;
    }
    
    #input{
        margin-top: 80px;
        height: 50px;
    }
    
    #font-size{
        margin-top: 30px;
        font-size: 50px;
        line-height: 0.9;
    }

    #attributes{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
}